html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input{margin:0;padding:0}
body{color:#666;font:12px "SimSun","宋体","Arial Narrow",HELVETICA;background:#fff;}
a{text-decoration:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
em,i{font-style:normal}
li{list-style:none}
img{border:0;vertical-align:middle;display:inline-block;}
input{border:none;border:1px solid #bbbbbb;}
/*重置样式*/


.wwx-section{width:100%;}
.wwx-t1{padding:40px 0;color:#fc5f00;text-align: center;font: 26px/36px "Microsoft Yahei";}
.wwx-t1 em{color:#666666;display:block;font: 16px/26px "Microsoft Yahei";}
.wwx-newsList{width:965px;margin:auto;background:url(../img/su.jpg) repeat-y 50% 0;}
.wwx-newsList img{width:132px;height:94px;}
.wwx-newsList li{width:425px;height:94px;}
.wwx-newsList .wwx-fl{float:left;}
.wwx-newsListPic{width:132px;height:94px;border-left: 6px #fc5f00 solid;}
.wwx-fr{float:right;}
.wwx-newsListCon{width:280px;height:94px;}
.wwx-newsListCon a{display: block;color:#000;font: normal 12px/20px "宋体";}
.wwx-newsListCon span{display: block;color:#666666;margin:5px 0;font: normal 12px/20px "宋体";}
.wwx-newsListCon i{display: block;color:#999999;font: normal 12px/20px "宋体";}
.mar-top{margin-top:45px;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.wwx-hyNews{width:965px;height:230px;border:1px solid #dcdcdc;margin:auto;}
.wwx-hyNews li{width:24.89999%;height:230px;float:left;display: block;overflow: hidden;}
.wwx-hyNews li a{display: block;padding:30px 20px;text-align: center;color:#717171;}
.wwx-hyNews li a h4{display: block;color:#666666;font: normal 14px/26px "Microsoft Yahei";}
.wwx-hyNews li a span{display: block;height:70px;margin:35px 0 25px 0;color:#666666;text-align:left;font:12px/26px "Microsoft Yahei"}
.wwx-hyNews li a i{display:block;color:#acacac;width:60px;height:22px;border:1px solid #dcdcdc;text-align: center;margin: auto;font:12px/22px "arial"}
.wwx-hyNews li+li{border-left:1px solid #DCDCDC;}
.wwx-hyNews li a:hover{background:#aaaaaa;color:#fff;}
.wwx-hyNews li a:hover i,.wwx-hyNews li a:hover span,.wwx-hyNews li a:hover h4{color:#fff;}

.bg-f3{height:350px;background:url(../img/idx_banner.jpg) no-repeat 50% 50%;}
.wbg{height:350px;width:100%;background:url(../img/bg70.png) repeat;}
.wwx-idxbg{height:220px;padding:70px 0 60px 0;background-size: cover;}
.wwx-idxbg:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.wwx-idx{width:965px;margin:auto;height:220px;}
.wwx-idx img{width:320px;height:100%;float:left;}
.wwx-idxCon{width:500px;height:100%;float: right;}
.wwx-idxCon h4{color:#fff;font: normal 24px/36px "Microsoft Yahei";}
.wwx-idxCon h4 em{color:#fff;font: normal 16px/36px "Microsoft Yahei";}
.wwx-idxCon span{display: block;margin:10px 0;color:#fff;height:128px;    font: normal 14px/24px "Microsoft Yahei"}
.wwx-btnMore{display: block;width:72px;height:26px;border:2px solid #fff;text-align: center;color: #FFFFFF;font: normal 14px/26px "Microsoft Yahei";}
.wwx-btnMore:hover{color:#9D7525;}

.wwx-sectionA{width:965px;margin:auto}
.wwx-sectionT{color:#2c2c2c;font:30px/50px "microsoft yahei";text-align: center;}
.wwx-sectionT em{display: block;width:70px;height:5px;margin:5px auto 0;background:#ef9200;}
.jiange60{width:100%;height:60px;overflow: hidden;clear: both;}
.wwx-plIntroduction{width:100%;height:250px;overflow: hidden;background:#EF9200;}
.wwx-plCon{width:430px;overflow: hidden;padding: 30px;}
.wwx-plCon h4{color: #fff;font: 18px/32px "Microsoft Yahei";}
.wwx-plCon p{margin-top:10px;height:170px;display:block;color: #fff;font: 12px/24px "Microsoft Yahei";}
.wwx-plPic{width:475px;height:250px;float: right;}
.fl{float: left;height:200px;}
.wwx-art{color:#000;font:18px/100px "Microsoft Yahei";text-align: center;}
.wwx-art span{color:#000;font:12px/26px "Microsoft Yahei";display: block;}
.wwx-plIntroduction1{height:280px;width: 100%;}
.wwx-zbg{height:280px;width: 100%;background:url(../img/n_bg.jpg) no-repeat 50% 50%;background-size:cover;}
.wwx-bg2{height:200px;padding:45px 0 35px 0;}
.fr{float: right;}
.fr h4{text-align: right;font:18px/32px "Microsoft Yahei";}
.fr span{margin-top:10px;height:150px;display:block;color: #fff;font: 12px/28px "Microsoft Yahei";}

.wwx-plRecru{clear: both;min-height: 650px;}
.wwx-clear{clear: both;}
.wwx-main{width:860px;margin: 0 auto;font:12px/1.8 Arial, Helvetica, sans-serif;color: #555;}
.wwx-job{margin-bottom: 15px;}
.wwx-job .wwx-t{zoom:1;margin-bottom: 15px;border-bottom: 1px solid #cacaca;padding-bottom: 15px;}
.wwx-main .wwx-t:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.wwx-main .wwx-t img{float: left;}
.wwx-main .wwx-t p{line-height: 200%;}
.mar-left{margin-left:340px;}
.wwx-job h2{width:342px;height:35px;line-height: 35px;text-align: center;background: #ee7818;color: #fff;font-size: 14px;}
.wwx-jobList{margin-bottom:15px;}
.wwx-jobList span{color: #E56600}
.wwx-jobBottom{width:398px;padding:10px;background: #ee7818;color:#fff}
.jiange100{width:100%;height:100px;overflow: hidden;clear: both;}













